<% content_for :title, "Editing sender" %>

<h1>Editing sender</h1>

<%= render "form", sender: @sender %>

<br>

<div>
  <%= link_to "Show this sender", @sender %> |
  <%= link_to "Back to senders", senders_path %>
</div>
